@model List<User>
@{
    ViewData["Title"] = "Пользователь";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Почта</th>
        </tr>
    </thead>

    <tbody>

        @foreach (User user in Model)
        {
            <tr>
                <th scope="row"><img src="@user.UserImage" class="card-img-top" style="width: 3rem; height:3rem; border-radius:50%;" alt="..."></th>
                <td><a asp-controller="User" asp-action="Index" asp-route-id="@user.UserId">@user.Name</a></td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
            </tr>
        }

    </tbody>
</table>





<!--model User
{
    ViewData["Title"] = "Пользователь";
}

<div class="card" style="width: 18rem; flex-direction:row">
    <img src="Model.UserImage" class="card-img-top" style="width: 3rem; height:3rem; border-radius:50%;" alt="...">
    <div class="card-body">
        <h4 class="card-name">Model.Name</h4>
        <p class="card-surname">Model.Surname</p>
        <p class="card-email">Model.Email</p>
    </div>
</div>-->

